.wrap_grid_container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: 155px;
}

.circle_div {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  flex-direction: column;
}

.arrow_div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.arrow_div p {
  font-weight: bold;
  letter-spacing: 0.3px;
}
.circle {
  width: 45%;
  height: 100%;
  border: 10px solid #43aaaa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: center;
}

.circle img {
  width: 80%;
  transition: 0.5s ease-in-out all;
  cursor: pointer;
}

.circle img:hover {
  transform: scale(0.9);
}

.down_arrow {
  height: 10px;
  margin-top: -10px;
  width: 100%;
  background-color: #43aaaa;
}
.c2 {
  border: 10px solid #aa229d;
}

.arrow2 {
  background-color: #aa229d;
}

.c3 {
  border: 10px solid #e23a59;
}

.arrow3 {
  background-color: #e23a59;
}

.c4 {
  border: 10px solid #28a9e0;
}

.arrow4 {
  background-color: #28a9e0;
}
.c5 {
  border: 10px solid #f9a02b;
}

.arrow5 {
  background-color: #f9a02b;
}
.c6 {
  border: 10px solid #e06410;
}

.arrow6 {
  background-color: #e06410;
}

@media screen and (max-width: 950px) {
  .wrap_grid_container {
    grid-template-columns: auto auto auto;
    grid-template-rows: 155px 155px;
    row-gap: 15px;
  }
}

@media screen and (max-width: 650px) {
  .wrap_grid_container {
    grid-template-columns: auto auto;
    grid-template-rows: 155px 155px 155px;
    row-gap: 15px;
  }
}

@media screen and (max-width: 450px) {
  .land_wrap_section{
    background-color: transparent;
  }
  .wrap_grid_container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    row-gap: 15px;
    column-gap: 10px;
  }
  .circle_div {
    height: 90px;
  }
  .arrow_div p {
    font-weight: bold;
    letter-spacing: 0.3px;
    font-size: 15px;
  }
  .wrap_grid_item1 {
    padding: 10px 0px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  }
  .wrap_grid_item2 {
    padding: 10px 0px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  }
  .wrap_grid_item3 {
    padding: 10px 0px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  }
  .wrap_grid_item4 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px 0px;
    background-color: white;
  }
  .wrap_grid_item5 {
    padding: 10px 0px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  }
  .wrap_grid_item6 {
    padding: 10px 0px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  }
}
