
.footer_container{
    margin-top: 24px;
    background-color:#002D62;
    height: auto;
}

.foooter_child_container{
    padding: 40px;
    padding-left: 70px;
}

.footer_top_text{
    color: white;
    font-weight: 500;

}

.hr{
 width: 100%;
 margin-top: 5px;
 margin-bottom: 20px;
}

.india-flag{
    width: 200px;
    height: 100px;
    display: flex;
    /* justify-content: center; */
    gap: 20px;
}

.navlink{
    color: rgba(30, 219, 219, 0.527);
}

.navlink:hover{
    color: rgba(30, 219, 219, 0.966);

}


.india-flag img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.eci_info{
    color: rgb(179, 178, 178);
    margin-top: 15px;
    line-height: 1.3;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.eci_info:hover{
    color: rgb(206, 201, 201);

}

.quick_links ul > li{ 
    list-style: none;
    color: white;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 12px;
    background-color: rgba(34, 32, 32, 0.322);
    backdrop-filter: blur(2);
    border-radius: 5px;

}

.icons > a > li{
    list-style: none;
    color: white;
    text-transform: capitalize;
    letter-spacing: 0.8px;
    margin-top: 10px;
}
.icon{
    background-color: rgba(83, 83, 83, 0.479) !important;
    color: #041c42 !important;
}

.delete-icon{
    padding-left: 10px;
    background-color: rgba(235, 223, 223, 0.747) !important;
  color: red !important;
}

.facebook_icon{
    color: #0862F7 !important;
   background-color: rgba(240, 235, 235, 0.596) !important;
}

.twitter_icon{
    color: #0afa02 !important;
   background-color: rgba(240, 235, 235, 0.596) !important;

}

.instagram_icon{
    color: #E0446B !important;
   background-color: rgba(240, 235, 235, 0.596) !important;

}

.linkedin_icon{
    color: #087aec !important;
   background-color: rgba(240, 235, 235, 0.596) !important;

}

.follow_us{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    /* text-align: center !important; */
    flex-direction: column !important;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(145, 144, 144);
    letter-spacing: 0.7px;
    font-size: 14px;
}


@media screen and (max-width: 450px) {

    .foooter_child_container{
        padding: 20px;
        padding-left: 20px;
    }
    .hr{
        width: 100%;
        margin-top: 5px;
        margin-bottom: 20px;
       }
    
    .icons > a > li{
        list-style: none;
        color: white;
        text-transform: capitalize;
        letter-spacing: 0.8px;
        margin-top: 15px;
    }
    .copyright{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: rgb(145, 144, 144);
        letter-spacing: 0.7px;
        font-size: 10px;
        padding-bottom: 10px;
    }

}